<div class="container">
  <div class="Login">
    <div class="logo">
      <img src="assets/images/SG-Logo.png" alt="Logo" />
      <label for="">เข้าสู่ระบบงาน</label>
    </div>
    <div class="input">
      <div>
        <label for="">รหัสพนักงาน</label>
        <input type="text" placeholder="รหัสพนักงาน"/>
      </div>

      <div>
        <label for="">รหัสผ่าน</label>
        <input type="text" placeholder="รหัสผ่าน"  />
      </div>
    </div>
    <button>เข้าสู่ระบบ</button>
  </div>
</div>
