.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #D9D9D9;   
    color: white;
}

.logo{
    display: flex ;
    align-items: center;
    
}
.logo img {
    width: 50px;
    height: auto;
}

.logo label {
    padding-left: 20px;
    color: black;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}
