.app-header { 
        background-color: #336597;
        color: #fff;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-right: 20px;
      }

.logo{
    display: flex ;
    align-items: center;
    
}
.logo img {
    width: 50px;
    height: auto; 
    box-shadow: 0 4px 8px rgba(216, 211, 211, 0.3); /* ใส่ shadow */
    border-radius: 5px; /* ถ้าอยากให้ขอบโค้ง */
}


.logo label {
    padding-left: 20px;
    color: #fff;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.UserActive{
    padding-left: 20px;
}