<div class="container">
  <div class="header">
    <label for="">รายละเอียดสัญญา</label>
    <button class="closeButton">X</button>
  </div>

  <div class="box1">
    <div class="row">
      <label for="YYMM">2505</label>
      <label for="HPNO">451-123456</label>
      <label for="NAME">นายพิเศษ ศิริกุล</label>
      <label for="MOTO" class="lastlabel"
        >รถจักรยานยนต์ฮอนด้า WW160AR(TH)(PCX160)</label
      >
    </div>

    <div class="row">
      <label for="PMT">ค่างวด X จำนวนงวด 2,123.00 x 24</label>
      <label for="OFFX">เริ่มสัญญา 10/07/2024 </label>
      <label for="Endate">สิ้นสุด 10/06/2027</label>
      <label for="ASB" class="lastlabel">ทะเบียน 5ขข 1234กท</label>
    </div>

    <div class="row">
      <label for="" class="lastlabel"
        >ณ 23/09/2025 ค่างวดค้างชำระ = 2,123.00/1.00 ค่าปรับ = 0 ค่าทวงถาม = 0
        รวม 2,123.00 ขั้นต่ำ 2,123.00
      </label>
    </div>
  </div>

  <div class="box2">
    <div></div>
    <div></div>
    <div class="button-box2">
      <button>เบอร์โทรศัพย์</button>
      <button>ดูรูป</button>
    </div>
    <div class="address">
      <div class="addc">
        <label for="">ที่อยู่ปัจจุบัน</label>
        <span
          >888 จตุโชติ 10 แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220
          02-022-8888</span
        >
      </div>
      <div class="addw">
        <label for="">ที่อยู่ที่ทำงาน</label>
        <span
          >888 จตุโชติ 10 แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220
          02-022-8888</span
        >
      </div>
      <div class="addoff">
        <label for="">ทำสัญญา</label>
        <span
          >888 จตุโชติ 10 แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220
          02-022-8888</span
        >
      </div>
    </div>
  </div>

  <div class="box3">
    <table>
      <thead>
        <tr>
          <th>วัน/เวลาที่บันทึก</th>
          <th>เบอร์โทรติดต่อล่าสุด</th>
          <th>ข้อความ</th>
          <th>ผู้บันทึก</th>
          <th>วันนัด/วันโทร</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
        <tr>
          <td>07/04/2025 10:33:56</td>
          <td>09-9585-5511 ซ*</td>
          <td>มือถือซ. ไม่รับสาย โทร 2 รอบ + SMS</td>
          <td>93486</td>
          <td>25/09/2025 14:05:11</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box4">
    <div class="grid">
      <div></div>
      <div class="radio">
        <div class="radio-option">
          <input type="radio" name="type" id="call" checked="true" />
          <label for="call">คีย์รายละเอียดการโทรติดตาม          </label>
        </div>
        <div class="radio-option">
          <input type="radio" name="type" id="visit" />
          <label for="visit">คีย์รายละเอียดการลงพื้นที่</label>
        </div>
      </div>
    </div>
    <div class="form-grid">
      <label>วันนัด/วันที่จะติดต่อครั้งถัดไป</label>
      <input type="date" />

      <label>ข้อความ</label>
      <input type="text" placeholder="กรอกข้อความ..." />

      <label>เบอร์โทรที่ติดต่อล่าสุด</label>
      <input type="text" placeholder="กรุณาเลือกเบอร์ที่ติดต่อล่าสุด" />
        
      <div></div>
      <button>บันทึก</button>
    </div>
  </div>
</div>
