<div class="container">
  <app-header></app-header>

  <div class="topbar">
    <div class="filter-bar">
      <div class="item-filter"></div>
      <ul>
        <li>ทั้งหมด</li>
        <li>1 เดือน</li>
        <li>2 เดือน</li>
        <li>3 เดือน</li>
        <li>4 เดือน</li>
        <li>5 เดือน</li>
        <li>6 เดือน</li>
      </ul>
    </div>

    <div class="search-bar">
      <input type="" placeholder="ค้นหาเลขสัญญา" />
    </div>
  </div>

  <div class="table-hp">
    <table>
      <thead>
        <tr>
          <th>เลขสัญญา</th>
          <th>ชื่อ-สกุล</th>
          <th>วันที่ครบกำหนดชำระ</th>
          <th>ที่อยู่</th>  
          <th>ค่างวด</th>
          <th>OD_MON</th>
          <th>OD_BATH</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>341-512326</td>
          <td>ธัญญารัตน์ ละชินลา</td>
          <td>02/10/2025</td>
          <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
          <td>2,235</td>
          <td>1</td>
          <td>2,235</td>
        </tr>
        <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          <tr>
            <td>341-512326</td>
            <td>ธัญญารัตน์ ละชินลา</td>
            <td>02/10/2025</td>
            <td>888 ซ.จตุโชติ 10 ถ.จตุโชติ แขวงออเงิน เขตสายไหม กรุงเทพมหานคร 10220</td>
            <td>2,235</td>
            <td>1</td>
            <td>2,235</td>
          </tr>
          
      </tbody>
    </table>
  </div>
  
</div>
