<div class="container">
  <app-header> ธัญญารัตน์ ละชินลา : 93486</app-header>

  <div class="topbar">
    <!-- <div class="filter-bar">
      <div class="item-filter"></div>
      <ul>
        <li>ทั้งหมด</li>
        <li>1 เดือน</li>
        <li>2 เดือน</li>
        <li>3 เดือน</li>
        <li>4 เดือน</li>
        <li>5 เดือน</li>
        <li>6 เดือน</li>
      </ul>
    </div> -->
    <div class="filter-bar">
      <label for="month-filter">เลือกช่วงเวลา:</label>
      <select id="month-filter" [(ngModel)]="selectedMonth" (change)="filterData()">
        <option value="all">ทั้งหมด</option>
        <option value="1">1 เดือน</option>
        <option value="2">2 เดือน</option>
        <option value="3">3 เดือน</option>
        <option value="4">4 เดือน</option>
        <option value="5">5 เดือน</option>
        <option value="6">6 เดือน</option>
      </select>
    </div>
    

    <div class="search-bar">
      <input type="" placeholder="ค้นหาเลขสัญญา" />
    </div>
  </div>

  <div class="table-hp">
    <table>
      <thead>
        <tr>
          <th class="nowrap">เลขสัญญา</th>
          <th>ชื่อ-สกุล</th>
          <th>ครบกำหนดชำระ</th>
          <th>ที่อยู่</th>  
          <th>ค่างวด</th>
          <th>OD_MON</th>
          <th>OD_BATH</th>
        </tr>
      </thead>
      <tbody>
        @for (item of filterdata; track $index) {
          <tr  (click)="selectContract(item)"  >
            <td class="nowrap" >{{item.HPNO}}</td>
            <td class="nowrap" >{{item.FNAM}} {{item.LNAM}}</td>
            <td  >{{item.DUE}}</td>
            <td class="single-line" >{{item.CADD}}</td>
            <td >{{item.PMT}}</td>
            <td >{{item.OD_MON}}</td>
            <td >{{item.OD_BATH}}</td>
          </tr>
        }
          
      </tbody>
    </table>
  </div>
  
</div>
