<div class="popup-overlay"   > 
    <div class="page1">
        <div class="header">
            <label for="">รูปภาพประกอบการทำสัญญา</label>
            <button class="close" (click)="closePopup()"> X</button>
        </div>

        <div class="pageCKC">
            <div class="header">
                <label for="">CK&C</label>
            </div>

            <div class="content">

            </div>
            
        </div>
        <div class="pageCKC">
            <div class="header">
                <label for="">Home</label>
            </div>

            <div class="content">

            </div>
            
        </div>
          
    </div>
</div>